body{
  background-color: white ;
}
h1 {
  text-align: center;
  padding: 5px;
  color: rgb(29, 158, 130);
}
h4 {
  text-align: center;
}
.App {
  background-color: transparent;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}
#to-do-form input{
  background-color: white;
  border-color: rgb(29, 158, 130);
  width: 200px;
  height: 40px;
  padding: 0 20px;
  margin: 20px;
  font-size: 16px;
  border-radius: 10px;
  color: black;
}
#to-do-form input::placeholder{
  color: black ;
}
#to-do-form input :focus{
  outline: none;
}
#to-do-form button{
  width: 80px;
  height: 40px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(29, 158, 130);
  cursor: pointer;
  font-size: 16px;
  color: white;
}

